@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center{
    @apply flex justify-center items-center;
}


::-webkit-scrollbar {
    width: 2px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f5f5f5; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #999; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #666; 
  }
  
  @media (prefers-color-scheme: dark) {
      ::-webkit-scrollbar {
      width: 2px; 
    }
  
    ::-webkit-scrollbar-track {
      background-color: #b9b9b9; 
    }
  
    ::-webkit-scrollbar-thumb {
      background-color: #808080; 
    }
  
    ::-webkit-scrollbar-thumb:hover {
      background-color: #999; 
    }
  }